Day 1 GDGOC Machine Learning, *(Assestment in the bottom of this file.)*

In [ ]:
#Variabel
nama = "Kaisar"
umur = 19
print("Nama: ", nama)
print("Umur: ", umur)

nilai_jlpt = 100
print("Nilai jlpt", nilai_jlpt, "/ 180")

Nama:  Kaisar
Umur:  19
Nilai jlpt 100 / 180

In [ ]:
#Tipe data
data_integer = 11
print("data: ", data_integer, "bertipe: ", type(data_integer))

data_float = 1.5
print("data: ", data_float, "bertipe: ", type(data_float))

data_string = "Kaisar"
print("data: ", data_string, "bertipe: ", type(data_string))

data:  11 bertipe:  <class 'int'>
data:  1.5 bertipe:  <class 'float'>
data:  Kaisar bertipe:  <class 'str'>

In [ ]:
from re import T
#list
mix = [1, "Halo", True, 4.34]
print(mix)
print(mix[1])
print(mix[0:2])

mix.append("Kaisar")
print(mix)
print(len(mix))

[1, 'Halo', True, 4.34]
Halo
[1, 'Halo']
[1, 'Halo', True, 4.34, 'Kaisar']
5

In [1]:
#tuple
mix = (1, "Halo", True, 4.34)
print(mix)
print(mix[1])
# mix[0] = "Budi" #akan error karena tuple itu immutable

(1, 'Halo', True, 4.34)
Halo

In [ ]:
#set
mix = {1, "Halo", True, 4.34, 4.34}
print(mix)

{1, 4.34, 'Halo'}

In [ ]:
#dictionary
mix = {
    "nama" : "Kaisar",
    "umur" : 19,
    "hobi" : "Membaca"
}
mix["umur"] = 20
print(mix)
print(mix["nama"])

{'nama': 'Kaisar', 'umur': 20, 'hobi': 'Membaca'}
Kaisar

In [ ]:
#casting

a = int(3.99)
b = float(3)
c = str(3)
print(a, type(a))
print(b, type(b))
print(c, type(c))

3 <class 'int'>
3.0 <class 'float'>
3 <class 'str'>

In [ ]:
x = 10
y = 5

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

15
5
50
2.0
0
100000
2

In [ ]:
x = 20
y = 2

print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)

x == y: False
x != y: True
x > y: True
x < y: False
x >= y: True
x <= y: False

In [ ]:
#Menulis file
file = open("test.txt", "w")
file.write("Halo dunia")
file.close()

In [ ]:
with open("test.txt", "r") as file:
    print(file.read())

Halo dunia
Halo dunia

In [ ]:
with open("test.txt", "a") as file:
    file.write("\nHalo dunia")

Assestment 1

In [ ]:
file = open("data.txt", "w")
file.write("1928338120932890381239028391281298449848123427831648621346023283742893170421390478129037412039487213908470213874092174890714")
file.close()

In [ ]:
file = open("data.txt", "r")
data = file.read()
arr = [int(d) for d in str(data)]
ganjil = 0
genap = 0
print(arr)
for i in arr:
    if i % 2 == 0:
        genap = ganjil + 1
        print(arr[i], "Aku ganjil")
    else:
        genap = genap + 1
        print(arr[i], "Aku genap")
print("Jumlah ganjil: ", ganjil)
print("Jumlah genap: ", genap)
file.close()

[1, 9, 2, 8, 3, 3, 8, 1, 2, 0, 9, 3, 2, 8, 9, 0, 3, 8, 1, 2, 3, 9, 0, 2, 8, 3, 9, 1, 2, 8, 1, 2, 9, 8, 4, 4, 9, 8, 4, 8, 1, 2, 3, 4, 2, 7, 8, 3, 1, 6, 4, 8, 6, 2, 1, 3, 4, 6, 0, 2, 3, 2, 8, 3, 7, 4, 2, 8, 9, 3, 1, 7, 0, 4, 2, 1, 3, 9, 0, 4, 7, 8, 1, 2, 9, 0, 3, 7, 4, 1, 2, 0, 3, 9, 4, 8, 7, 2, 1, 3, 9, 0, 8, 4, 7, 0, 2, 1, 3, 8, 7, 4, 0, 9, 2, 1, 7, 4, 8, 9, 0, 7, 1, 4]
Jumlah ganjil:  67
Jumlah genap:  57